<section class="channel-group">
    <div class="channel-group_header">
        <h2 class="channel-group_title">限时免费</h2>
    </div>
    <ul class="book-lists">
        <li v-for="item in free">
            <div class="book-item">
                <div class="book-cover">
                    <img :src="item.data.cover" :alt="item.title">
                    <div class="book-tag free-fiction">限免</div>
                </div>
                <div class="book-info">
                    <h3 class="title">{{item.data.title}}</h3>
                </div>
            </div>
        </li>
    </ul>
    <a href="/free" class="channel-group_footer">更多限免佳作&gt;&gt;</a>
</section>