<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no,minimal-ui">
		<meta name="format-detection" content="telephone=no">
		<link rel="stylesheet" href="../static/css/reader/iconfont.css">
		<link rel="stylesheet" href="../static/css/reader/reset.css">
		<link rel="stylesheet" href="../static/css/reader/style.css">
	</head>
	<body>
		<div id="root" class="container">
			<div class="m-article-action">
				<div class="article-action-mid" id="action-mid"></div>
			</div>
			<div id="top-nav" class="top-nav" style="display: none;">
				<div class="icon-back"></div>
				<div class="nav-title">返回书架</div>
			</div>
			<div id="fiction_container" class="m-read-content"></div>
			<div class="m-button-bar">
				<ul class="u-tab">
					<li id="prev_button" class="prev_button">上一章</li>
					<li id="next_button" class="next_button">下一章</li>
				</ul>
			</div>
			<div class="nav-panel-bk font-container" style="display: none;"></div>
			<div class="nav-panel font-container" id="font-container" style="display: none;">
				<div class="child-mod">
					<span>字号</span>
					<button id="large-font" class="font-size-button">大</button>
					<button id="small-font" class="font-size-button">小</button>
				</div>
				<div class="child-mod" id="bk-container">
					<span>背景</span>
					<!--<ul class="bk-container-wrap">-->
						<!--<li class="bk-container" data-color="1">-->
							<!--<div class="bk-container-current" style="display: none;"></div>-->
						<!--</li>-->
						<!--<li class="bk-container" data-color="2">-->
							<!--<div class="bk-container-current"></div>-->
						<!--</li>-->
						<!--<li class="bk-container" data-color="3">-->
							<!--<div class="bk-container-current" style="display: none;"></div>-->
						<!--</li>-->
						<!--<li class="bk-container" data-color="4">-->
							<!--<div class="bk-container-current" style="display: none;"></div>-->
						<!--</li>-->
						<!--<li class="bk-container" data-color="5">-->
							<!--<div class="bk-container-current" style="display: none;"></div>-->
						<!--</li>-->
					<!--</ul>-->
				</div>
			</div>
			<ul id="bottom-nav" class="bottom-nav" style="display: none;">
				<li id="menu-button"><i class="iconfont icon-icon"></i><div class="icon-text">菜单</div></li>
				<li id="font-button"><i class="iconfont icon-zitifont5"></i><div class="icon-text">字体</div></li>
				<li id="night-button">
					<div id="night_icon" style="display: none;">
						<i class="iconfont icon-yejian"></i><div class="icon-text">夜间</div>
					</div>
					<div id="day_icon">
						<i class="iconfont icon-baitian"></i><div class="icon-text">白天</div>
					</div>
				</li>
			</ul>
		</div>
			<script src="static/script/reader/zepto.min.js"></script>
		<script>
			window.jQuery = $;
		</script>
		<script src="./static/script/reader/jquery.base64.js"></script>
		<script src="./static/script/reader/jquery.jsonp.js"></script>

		<script>
			(function () {
			    'use strict';
				var Util = (function () {
				    var prefix = 'html5_reader_';
					var StorageGetter = function (key) {
						return localStorage.getItem(prefix + key);
                    };
                    var StorageSetter = function (key, val) {
						return localStorage.setItem(prefix + key, val);
                    };
                    var getBSONP = function (url, callback) {
						return $.jsonp({
							url: url,
							cache: true,
							callback: 'duokan_fiction_chapter',
							success: function (result) {
								var data = $.base64.decode(result);
								var json = decodeURIComponent(escape(data));
								callback(json)
                            }
						})
                    };
                    return {
                        getBSONP: getBSONP,
                        StorageGetter: StorageGetter,
                        StorageSetter: StorageSetter
					}
                })();


                function main() {
                    var RootContainer = $('.m-read-content');
                    var Fiction_id, Chapter_id;

                    // 绑定事件
                    var Win = $(window);
                    var Doc = document;
                    var Screen = Doc.body;
                    var Root = $('#root');

                    var Dom = {
                        m_button_bar:('.m-button-bar'),
                        top_nav: $('#top-nav'),
                        nav_title : $('.nav-title'),
                        night_button : $('#night-button'),
                        bottom_nav: $('#bottom-nav'),
                        night_icon: $('#night_icon'),
                        day_icon: $('#day_icon'),
                        font_container: $(".font-container"),
                        bk_container: $('#bk-container')
                    };

					//是否是夜间模式
                    var NightMode = false;

                    //初始化的字体大小
                    var InitFontSize;

                    var readerUI = ReaderBaseFrame(RootContainer);
                    var readerModel = ReaderModel(Fiction_id || 13359 ,Chapter_id, function (data) {
                        readerUI(data);
//                        Dom.m_button_bar.show();
                        setTimeout(function() {
                            Screen.scrollTop = 0;
                        }, 20);
                    });

                    //阅读器数据内容展示
                    readerModel.init();

                    //从缓存中读取的信息进行展示
                    var ModuleFontSwitch = (function() {
                        //字体和背景的颜色表
                        var colorArr = [{
                            value : '#f7eee5',
                            name : '米白',
                            font : ''
                        }, {
                            value : '#e9dfc7',
                            name : '纸张',
                            font : '',
                            id : "font_normal"
                        }, {
                            value : '#a4a4a4',
                            name : '浅灰',
                            font : ''
                        }, {
                            value : '#cdefce',
                            name : '护眼',
                            font : ''
                        }, {
                            value : '#283548',
                            name : '灰蓝',
                            font : '#7685a2',
                            bottomcolor : '#fff'
                        }, {
                            value : '#0f1410',
                            name : '夜间',
                            font : '#4e534f',
                            bottomcolor : 'rgba(255,255,255,0.7)',
                            id : "font_night"
                        }];

                        var tool_bar = Util.StorageGetter('toolbar_background_color');
                        var bottomcolor = Util.StorageGetter('bottom_color');
                        var color = Util.StorageGetter('background_color');
                        var font = Util.StorageGetter('font_color');
                        var bkCurColor = Util.StorageGetter('background_color');
                        var fontColor = Util.StorageGetter('font_color');

                        for (var i = 0; i < colorArr.length; i++) {
                            var display = 'none';
                            if (bkCurColor == colorArr[i].value) {
                                display = '';
                            }
                            Dom.bk_container.append('<div class="bk-container" id="' + colorArr[i].id + '" data-font="' + colorArr[i].font + '"  data-bottomcolor="' + colorArr[i].bottomcolor + '" data-color="' + colorArr[i].value + '" style="background-color:' + colorArr[i].value + '"><div class="bk-container-current" style="display:' + display + '"></div><span style="display:none">' + colorArr[i].name + '</span></div>');
                        }

                        RootContainer.css('min-height', $(window).height() - 100);

                        if (bottomcolor) {
                            $('.u-tab').find('li').css('color', bottomcolor);
                        }

                        if (color) {
                            $('body').css('background-color', color);
                        }

                        if (font) {
                            $('.m-read-content').css('color', font);
                        }

                        //夜间模式
                        if (fontColor == '#4e534f') {
                            NightMode = true;
                            $('#day_icon').show();
                            $('#night_icon').hide();
                            $('.u-tab').css('opacity', '0.6');
                        }

                        //字体设置信息
                        InitFontSize = Util.StorageGetter('font_size');
                        InitFontSize = parseInt(InitFontSize);
                        if (!InitFontSize) {
                            InitFontSize = 18;
                        }

                        RootContainer.css('font-size', InitFontSize);

                    })();


				// 获得阅读器内容的方法
				function ReaderModel(id_, cid_, onChange_) {
					// todo 实现和阅读器相关的数据交互的方法

                    var Title = "";

                    var Fiction_id = id_;

                    var Chapter_id = cid_;

                    var ChapterTotal;

                    if (Util.StorageGetter(Fiction_id + 'last_chapter')) {
                        Chapter_id = Util.StorageGetter(Fiction_id + 'last_chapter');
                    }

                    if (!Chapter_id) {
                        Chapter_id = 1;
                    }
                    var Chapters = [];

                    var init = function () {

                        getFictionInfoPromise.then(function (d) {
                            gotoChapter(Chapter_id)
                        })
                    };

                    var gotoChapter = function(chapter_id) {
                        Chapter_id = chapter_id;
                        getCurChapterContent();
                    };

                    var getFictionInfoPromise = new Promise(function (resolve, reject) {
						$.get('/ajax/chapter', function (data) {
							// 获得章节信息
							if (data.result == 0) {
								window.ChaptersData = data.chapters;
								window.chapter_data = data.chapters;
								for (var i = 0; i < data.chapters.length; i++) {
									Chapters.push({
										"chapter_id" : data.chapters[i].chapter_id,
										"title" : data.chapters[i].title
									})
								}
								resolve(Chapters);
							} else {
								reject(data);
							}
						}, 'json')
                    });


					var getCurChapterContent = function () {
						$.get('/ajax/chapter_data',{
                            id : Chapter_id
						}, function (data) {
							if(data.result == 0){
							    var url = data.jsonp;
								Util.getBSONP(url,function (data) {
                                    onChange_ && onChange_(data);
                                })
							}
                        }, 'json');
						return;
                    };


                    // 上一页
					var prevChapter = function () {
						Chapter_id = parseInt(Chapter_id, 10);
						if (Chapter_id == 0) {
							return;
						}
						var cid = Chapter_id - 1;
                        gotoChapter(cid);
                        Util.StorageSetter(Fiction_id + 'last_chapter', Chapter_id);
                    };
					// 下一页
					var nextChapter = function (UIcallback) {
                        Chapter_id = parseInt(Chapter_id, 10);
                        if (Chapter_id == Chapters.length - 1) {
                            return;
                        }
                        var cid = Chapter_id + 1;
                        gotoChapter(cid);
                        Util.StorageSetter(Fiction_id + 'last_chapter', Chapter_id);
                    };
                    return {
                        init: init,
                        prevChapter: prevChapter,
                        nextChapter: nextChapter,
						getChapter_id: function () {
							return Chapter_id;
                        }
					}
                }

                // 渲染基本的UI结构
                function ReaderBaseFrame(container) {
					function parseChapterData(jsonData) {
                        var jsonObj = JSON.parse(jsonData);
                        console.log(jsonObj.p.length)
                        var html = '<h4>' + jsonObj.t + '</h4>';
                        for (var i=0; i<jsonObj.p.length; i++) {
                            html += '<p>' + jsonObj.p[i] + '</p>';
                        }
                        return html;
                    }
                    return function (data) {
                        container.html(parseChapterData(data))
                    }
                }

                // 交互的事件绑定
                var  EventHandler = ( function() {
                    //夜间和白天模式的转化
                    Dom.night_button.click(function () {
                        if (NightMode) {
                            $('#day_icon').hide();
                            $('#night_icon').show();
                            $('#font_normal').trigger('click');
                            NightMode = false;
                        } else {
                            $('#day_icon').show();
                            $('#night_icon').hide();
                            $('#font_night').trigger('click');
                            NightMode = true;
                        }

                    });

                    //字体和背景颜色的信息设置
                    Dom.bk_container.delegate('.bk-container', 'click', function () {
                        var color = $(this).data('color');
                        var font = $(this).data('font');
                        var bottomcolor = $(this).data('bottomcolor');
                        var tool_bar = font;
                        Dom.bk_container.find('.bk-container-current').hide();
                        $(this).find('.bk-container-current').show();
                        if (!font) {
                            font = '#000';
                        }
                        if (!tool_bar) {
                            tool_bar = '#fbfcfc';
                        }

                        if (bottomcolor && bottomcolor != "undefined") {
                            $('.u-tab').find('li').css('color', bottomcolor);
                        } else {
                            $('.u-tab').find('li').css('color', '#a9a9a9');
                        }
                        $('body').css('background-color', color);
                        $('.m-read-content').css('color', font);

                        Util.StorageSetter('toolbar_background_color', tool_bar);
                        Util.StorageSetter('bottom_color', bottomcolor);
                        Util.StorageSetter('background_color', color);
                        Util.StorageSetter('font_color', font);

                        var fontColor = Util.StorageGetter('font_color');
                        //夜间模式
                        if (fontColor == '#4e534f') {
                            NightMode = true;
                            $('#day_icon').show();
                            $('#night_icon').hide();
                            $('.u-tab').css('opacity', '0.6');
                        } else {
                            NightMode = false;
                            $('#day_icon').hide();
                            $('#night_icon').show();
                            $('.u-tab').css('opacity', '0.9');
                        }
                    });


                    $('#action-mid').click(function () {
                        if (Dom.top_nav.css('display') == 'none') {
                            Dom.bottom_nav.show();
                            Dom.top_nav.show();
                        } else {
                            Dom.bottom_nav.hide();
                            Dom.top_nav.hide();
                            Dom.font_container.hide();
                        }
                    });


                    // 放大字体
                    $('#large-font').click(function () {
                        if (InitFontSize > 20) {
                            return;
                        }
                        InitFontSize += 1;
                        Util.StorageSetter('font_size', InitFontSize);
                        RootContainer.css('font-size', InitFontSize);
                    });
                    // 缩小字体
                    $('#small-font').click(function () {
                        if (InitFontSize < 10) {
                            return;
                        }
                        InitFontSize -= 1;
                        Util.StorageSetter('font_size', InitFontSize);
                        RootContainer.css('font-size', InitFontSize);
                    });

                    var font_container = $('.font-container');
                    var font_button = $('#font-button');
//                    var menu_container = $('#menu_container');

                    font_button.click(function () {
                        if (font_container.css('display') == 'none') {
                            font_container.show();
                            font_button.addClass('current');
                        } else {
                            font_container.hide();
                            font_button.removeClass('current');

                        }
                    });

                    RootContainer.click(function () {
                        font_container.hide();
                        font_button.removeClass('current');
                    });

                    //对屏幕的滚动监控
                    Win.scroll(function () {
                        Dom.top_nav.hide();
                        Dom.bottom_nav.hide();
                        font_container.hide();
                        font_button.removeClass('current');
                    });


                    Win.scroll(function () {
                        Dom.bottom_nav.hide();
                        Dom.top_nav.hide();
                        Dom.font_container.hide();
                    });

                    //返回上级页面
                    Dom.back_button.click(function() {
                        if (Fiction_id) {
                            location.href = '/book/' + Fiction_id;
                        }
                    });

                    //返回首页
                    Dom.nav_title.click(function() {
                        location.href = '/';
                    });

                    $('.icon-back').click(function() {
                        location.href = '/';
                    });

//                    $('#menu_button').click(function() {
//                        location.href = 'http://dushu.xiaomi.com/fiction/chapter/306450';
//                    });

                    // 上一页
                    $('#prev_button').click(function () {
                        // todo 获得章节的翻页数据，渲染
                        readerModel.prevChapter(function (data) {
                            $("body").scrollTop(0);
                            readerUI(data)
                        })
                    });

                    // 下一页
                    $('#next_button').click(function () {
                        readerModel.nextChapter(function (data) {
                            $("body").scrollTop(0);
                            readerUI(data)
                        })
                    });


                })();
                }

                return main()

            })()
		</script>
	</body>
</html>